body{font-family: 'Droid Serif', sans-serif;	background: #fafafa !important;}
header, header{background: #fff; min-height: 80px;}
header{ border-bottom: 2px solid #43c521;     margin-bottom: 10px;}
footer{ border-top: 2px solid #43c521; margin-top: 10px;}
.listposts{background: #fff; display: block; padding: 10px; min-height: 500px; box-shadow: 0 1px 4px rgba(0,0,0,.04);
border: 1px solid rgba(0,0,0,.09);
border-radius: 3px; }

.search-box{ margin: 0px 15px 10px 15px;}

ol.posts{    margin: 0px 0px 0px 38px;    padding: 0px; }
ol.posts li{font-size: 24px;    padding: 7px; border-bottom: 1px dotted #52b496;}
ol.posts li a{padding-left: 2px;}
ol.posts li a,
ol.posts li a:hover,
ol.posts li a:active{display: block;    color: #000;    text-decoration: none;}
ol.posts li:hover{background: #dbf8cc;}
ol.posts li:hover > a{color: #309846;}
.topgap{margin-top: 10px;}